<div class="content">
  <h3>
    Complete your payment
  </h3>
  <div class="card-content">
    <div class="card">
      <img src="assets/card.png" alt="Card">
    </div>
    <div class="inputs">
      <input placeholder="Card Number">
      <input placeholder="Holder">
      <input placeholder="Expiration">
      <input placeholder="Cvv">
    </div>
  </div>
</div>
<div class="footer">
  <button class="transparent" (click)="close()">Cancel</button>
  <button (click)="close({confirm: true})">Pay</button>
</div>
