:host {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    .icon {
      margin-bottom: 32px;

      svg {
        width: 100%;
        max-height: 120px;
        color: #DDDDDD;
      }

    }

  }

  .footer {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

}
